/* Article - https://bitsofco.de/github-contribution-graph-css-grid/ */

/* Grid-related CSS */

.months { grid-area: months; }
.days { grid-area: days; }
.squares { grid-area: squares; }

.graph {
    display: inline-grid;
}

.graph ul {
    padding-left: var(--square-gap);
}
  
.months {
    display: grid;
    grid-template-columns: repeat(4, var(--week-width));
    list-style: none;
  }
  
.days, .squares {
    display: grid;
    grid-gap: var(--square-gap);
    grid-template-rows: repeat(7, var(--square-size));
    list-style: none;
}
  
.squares {
    grid-auto-flow: column;
    grid-auto-columns: var(--square-size);
}
  
  
.days li:nth-child(odd) {
    visibility: hidden;
}
  
.squares li {
    background-color: var(--theme-light);
    list-style: none;
    transition: 0.1s ease;
    margin: 2px;
}

.squares li:hover {
    margin: 0px;
}
  
.squares li[data-level="1"] {
    background-color: var(--theme-mid-light);
}
  
.squares li[data-level="2"] {
    background-color: var(--theme-mid);
}
  
.squares li[data-level="3"] {
    background-color: var(--theme-mid-dark);
}

.squares li[data-level="4"] {
    background-color: var(--theme-dark);
}