.image {
    height: auto;
    width: 100%;
    border-radius: 4px;
    opacity: 0.9;
    transition: 0.2s ease;
    filter: grayscale(80%);
}

.imageWrapper {
    position: relative;
    overflow: visible;
}

.imageWrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    background: var(--color-primary);
    transition: all .3s linear;
    border-radius: 4px;
}

.imageWrapper:hover:before {
    background: none;
}

.image:hover {
    filter: grayscale(0%);
}

.accentLineUpper {
    border-left: 3px solid transparent;
    border-top: 3px solid transparent;
    border-radius: 4px 0px 0px 0px;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 4px;
    left: 4px;
    transition: 0.2s ease;
}

.accentLineHovered {
    border-left: 3px solid var(--color-primary);
    border-top: 3px solid var(--color-primary);
    transform: translateX(-15px) translateY(-15px);
}

.accentLineLower {
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 0px 0px 4px 0px;
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 7px;
    right: 4px;
    transition: 0.2s ease;
}

.accentLineLowerHovered {
    border-right: 3px solid var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
    transform: translateX(15px) translateY(15px);
}

.wrapper {
    display: grid;
    height: auto;
    background-color: greenyellow;
    width: 100% !important;
    grid-gap: 8px;
    grid-template-columns: repeat(80,1fr);
    grid-template-rows: repeat(40,1fr);

}

.wrapper div {
    transition: 0.2s;
    border-radius: 4px;
    overflow: hidden;
    background-color: purple;
}

.wrapper div img {
    border-radius: 4px;
}

.gridImageWrapper {
    overflow: hidden;
    /* background-color: var(--theme-mid); */
}

.image {
    height: auto;
    width: 100%;
    border-radius: 4px;
    opacity: 0.9;
    transition: 0.2s ease;
    filter: grayscale(80%);
}

.imageWrapper {
    position: relative;
    overflow: visible;
}

.imageWrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 4px;
    left: 0;
    right: 0;
    background: var(--color-primary);
    transition: all .3s linear;
    border-radius: 4px;
}

.imageWrapper:hover:before {
    background: none;
}

.image:hover {
    filter: grayscale(0%);
}

.accentLineUpper {
    border-left: 3px solid transparent;
    border-top: 3px solid transparent;
    border-radius: 4px 0px 0px 0px;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 4px;
    left: 4px;
    transition: 0.2s ease;
}

.accentLineHovered {
    border-left: 3px solid var(--color-primary);
    border-top: 3px solid var(--color-primary);
    transform: translateX(-15px) translateY(-15px);
}

.accentLineLower {
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-radius: 0px 0px 4px 0px;
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 7px;
    right: 4px;
    transition: 0.2s ease;
}

.accentLineLowerHovered {
    border-right: 3px solid var(--color-primary);
    border-bottom: 3px solid var(--color-primary);
    transform: translateX(15px) translateY(15px);
}

.wrapper {
    display: grid;
    height: 50vh;
    width: 70vh;
    grid-gap: 8px;
    grid-template-columns: repeat(80,1fr);
    grid-template-rows: repeat(40,1fr);
    grid-auto-columns: 100%;

}

.wrapper div {
    transition: 0.2s;
    border-radius: 4px;
    overflow: hidden;
}

.wrapper div img {
    border-radius: 4px;
}

.gridImageWrapper {
    overflow: hidden;
    /* background-color: var(--theme-mid); */
}
/* ################################################################ /*
/* Upper left image */
#upperLeftImage {
    grid-row: 10 / 30;
    grid-column: 1 / 45;
    opacity: 0.85;
    z-index: 99999;
}

#upperLeftHighlight {
    grid-row: 10 / 30;
    grid-column: 1 / 45;
    z-index: 0;
    height: 60px;
    width: 60px;
}

/* Upper left image */
#upperLeftImage:hover {
    transform: translateX(-10px) translateY(-10px);
    opacity: 1;
}

#upperLeftImage:hover + #upperLeftHighlight {
    background-color: var(--theme-mid-dark);
    transform: translateX(-20px) translateY(-20px);
}


/* ################################################################ /*


/* ################################################################ /*
/* Upper right image */
#upperRightImage {
    grid-column: 45 / 80;
    grid-row: 1 / 30;
    opacity: 0.85;
    z-index: 99999;
}

/* Upper right highlight */
#upperRightHighlight {
    grid-column: 45 / 80;
    grid-row: 1 / 30;
}

#upperRightImage:hover {
    transform: translateX(10px) translateY(-10px);
    opacity: 1;
}

#upperRightImage:hover + #upperRightHighlight {
    background-color: var(--theme-mid-dark);
    transform: translateX(20px) translateY(-20px);
}

/* ################################################################ /*

/* Lower right image */
#lowerLeftImage {
    grid-column: 15 / 30 ;
    grid-row: 30 / 40;
    opacity: 0.85;
    z-index: 99999;

}

/* Lower right image */
#lowerLeftHighlight {
    grid-column: 15 / 30 ;
    grid-row: 30 / 40;
    height: 40px;
    width: 40px;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-top: auto;
}

#lowerLeftImage:hover {
    transform: translateX(-10px) translateY(10px);
    opacity: 1;
}

#lowerLeftImage:hover + #lowerLeftHighlight {
    background-color: var(--theme-mid);
    transform: translateX(-20px) translateY(20px);
}

/* ################################################################ /*
/* Lower left = image */
#lowerRightImage {
    grid-column: 30 / 70;
    grid-row: 30 / 43;
    opacity: 0.85;
    z-index: 99999;
}

/* Lower left highlight */
#lowerRightHighlight {
    grid-column: 30 / 70;
    grid-row: 30 / 43;
    height: 60px;
    width: 120px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-top: auto;

}

#lowerRightImage:hover {
    transform: translateX(10px) translateY(10px);
    opacity: 1;
}

#lowerRightImage:hover + #lowerRightHighlight {
    background-color: var(--theme-mid-dark);
    transform: translateX(20px) translateY(20px);
}
